<div class="about-container">
    <div class="info-container">
        <h2>EventHub</h2>
        <ol>
            <li>
                <h4>Main Purpose of the Application</h4>
                <ul>
                    <li>
                        <p>EventHub is a platform designed to simplify event organization and participation. It provides an intuitive and functional interface for publishing, managing, and registering for events.</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Key Features</h4>
                <ul>
                    <li>
                        <h5>Event Publishing:</h5>
                        <p>Organizers can create events with detailed information</p>
                    </li>
                    <li>
                        <h5>Participant Registration:</h5>
                        <p>Users can register for events through a simple and user-friendly interface. Option to confirm registration via email.</p>
                    </li>
                    <li>
                        <h5>Event Management:</h5>
                        <p>Organizers have tools to: Edit event details; View a list of registered participants; Monitor participant numbers and adjust event settings if needed.</p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Target Users</h4>
                <ul>
                    <li>
                        <h5>Event Organizers:</h5>
                        <p>Professionals, companies, or individuals who want to host and manage events.</p>
                    </li>
                    <li>
                        <h5>Participants:</h5>
                        <p>Users who are looking for events to attend and want a seamless registration experience.</p>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>
