.register-container{
    width: 700px;
    margin: 2em auto;
    background: #F9F7F7;
    border-radius: 0.3em;
    padding: 2em;
}

.register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.register-form h3{
    font-size: 2rem;
    color: #112D4E;
}

.fields-container{
    display: flex;
    gap: 0.5em;
    align-items: end;
}

.field-icon{
    font-size: 2rem;
    border-right: 4px solid #112D4E;
    padding-right: 0.3em;
    color: #3F72AF;
    margin-right: 0.3em;
    width: 50px;
}

.field-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 49%;
    gap: 0.3em;
}


.field-container label{
    font-size: 1.1rem;
    color: #3F72AF;
}

.field-container input{
    font-size: 1rem;
    padding: 0.2em 0.3em;
}

.register-form button{
    background: #3F72AF;
    border: none;
    border-radius: 0.3em;
    color: #F9F7F7;
    padding: 1em;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2em;
}

.input-error{
    color: red;
    border-color: red;
}

.multiple-field{
    display: flex;
    flex: 1 1 auto;
    gap: 1em;
}
