<div class="event-container">
    <div class="header-information">
        <h3>{{currentEvent.title}}</h3>
        @if(isUserCreator){
            <button [routerLink]="['/myevents', currentEvent.id]"><i class="fa-solid fa-pen-to-square"></i></button>
        }@else {
            <button ><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
        }
    </div>
    <div class="information">
        <span>Category:</span>
        <p>{{categoryName}}</p>
    </div>
    <div class="information">
        <span>Description:</span>
        <p>{{currentEvent.description}}</p>
    </div>
    <div class="information">
        <span>Date:</span>
        <p>{{currentEvent.date}}</p>
    </div>
    <div class="information">
        <span>Location:</span>
        <p>{{currentEvent.location}}</p>
    </div>
</div>
@if(hasNotification){
    <app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>
}