.event-container{
    width: 1000px;
    background: #F9F7F7;
    margin: 2em auto;
    border-radius: 0.3em;
    padding: 2em;
}

.header-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-information button{
    color: #3F72AF;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.header-information h3{
    font-size: 2.5rem;
    color: #112D4E;
}

.information{
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1em;
}

.information span{
    font-weight: bold;
    color: #112D4E;
}

.information p{
    color: #3F72AF;
}

.input-error{
    color: red;
    border-color: red;
}

.comments-container{
    margin-top: 2em;
}

.comments-container h3{
    color: #112D4E;
    font-weight: bold;
    font-size: 1.4rem;
}

.comments-container p{
    margin-top: 1em;
}

.comments-container ul li{
    display: flex;
    margin-top: 1em;
    list-style: outside none;
    justify-content: space-between;
}

.comment-container,
.comment-btns{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.comment-container span{
    color: #112D4E;
}

.comment-container p{
    color: #3F72AF;
    margin: 0;
}

.comment-operation-container{
    margin-top: 3em;
}

.comment-operation-container form input{
    font-size: 1rem;
    padding: 0.3em;
    margin-right: 1em;
}

.comment-operation-container button{
    font-size: 1rem;
    border: none;
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
    background: #3F72AF;
    color: #F9F7F7;
    cursor: pointer;
    margin-right: 1em;
}

.comment-operation-container button:hover{
    background: #112D4E;
}

.comment-btns{
    display: flex;
    gap: 1.5em;
}

.comment-btns button{
    font-size: 1rem;
    padding: 0.5em 0.7em;
    border: none;
    border-radius: 0.3em;
    color: #F9F7F7;
    cursor: pointer;
}

.yellow-btn{
    background: #f2d633;
}

.red-btn{
    background: #ff0000;
}

.yellow-btn:hover{
    background: #c7ae1c;
}

.red-btn:hover{
    background: #ba0707;
}

.show-hide-btns button{
    font-size: 1rem;
    border: none;
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
    background: #3F72AF;
    color: #F9F7F7;
    cursor: pointer;
    margin: 1em 0;
}

.show-hide-btns button:hover{
    background: #112D4E;
}

.green-btn{
    background: #25db14;
}

.delete-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1em 1.5em;
    background: #DBE2EF;
    border-radius: 0.3em;
    font-size: 2rem;
    color: #3F72AF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.delete-container .delete-btns{
    display: flex;
    width: 50%;
    margin: 1em auto 0.5em auto;
    justify-content: space-around;
}

.delete-btns button{
    padding: 0.3em 0.5em;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 0.3em;
    border: none;
    color: #F9F7F7;
}

.header-information .joined-btn{
    color: #0d8a01;
    background: #acfca4;
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
}