<div class="home-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="search(form.value)">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Football.." [(ngModel)]="searchTitle">
        <select [(ngModel)]="searchCategoryId" name="categoryId">
            @for (categoryItem of categories; track $index) {
                <option value={{categoryItem.id}}>{{categoryItem.name}}</option>
            }
        </select>
        <button>Search</button>
    </form>
    
    <div class="events-container">
        @if(eventsPageModel.events.length > 0){
            @for (eventItem of eventsPageModel.events; track $index) {
                <div class="event-container">
                    <a routerLink="/event">
                        <div class="title">
                            <h2>{{eventItem.title}}</h2>
                            <span>{{eventItem.date}}</span>
                        </div>
                        <p>Description: {{eventItem.description}}</p>
                    </a>
                </div>
            }
        }
        @else{
            <div class="no-results">
                <p>No results!</p>
            </div> 
        }
    </div>
</div>
<div class="pages-container">
    @for (page of pages; track $index) {
        <button [class.currentPage]="page === currentPage" (click)="changePage(page)">{{page}}</button>        
    }
</div>