<header>
    <div class="header-container">
        <div class="logo-wrap">
            <img src="Logo.png"/>
            <h3>EventHub</h3>
        </div>
        <div class="nav-btns">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="">About</a>
                </li>
                <li>
                    <a routerLink="">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="user-btns">
            @if(isLoggedIn){
                <a (click)="logout()">Log out</a>
            }@else {
                <a routerLink="/register" class="register-btn">Get started</a>
                <a routerLink="/login">Sign in</a>
            }
        </div>
    </div>
</header>
