.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #112D4E;
    color: #F9F7F7;
}

.logo-wrap{
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo-wrap h3{
    font-size: 1.6rem;
}

.logo-wrap img{
    width: 100px;
}

.nav-btns ul{
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-btns ul li{
    list-style: outside none;
}

a{
    text-decoration: none;
    color: #F9F7F7;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0.3em 0.5em;
    border-bottom: 2px solid #F9F7F7;
}

.user-btns{
    display: flex;
    align-items: center;
    gap: 1em;
}

.user-btns a{
    background: #3F72AF;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
}

.user-btns .register-btn{
    color: #3F72AF;
    background-color: #F9F7F7;
    border-radius: 0.3em;
}

ul li a:hover{
    color: #112D4E;
    background: #F9F7F7;
    border: none;
    border-radius: 0.3em;
}

.user-btns .register-btn:hover{
    color: #F9F7F7;
    background-color: #3F72AF;
}

.user-btns a:hover{
    color: #3F72AF;
    background-color: #F9F7F7;
}