.notification {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1em;
  top: 0;
  right: 0;
  width: 400px;
  margin-top: 13em;
  margin-right: 1em;
  color: #fff;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  font-size: 1.1rem;
}
  
.notification i{
  font-size: 2rem;
}

  .notification.success {
    background-color: #91ff91;
    color: #0f6600;
  }
  
  .notification.error {
    background-color: #ffa696;
    color: #c20000;
  }
  
  .notification.info {
    background-color: #82d3ff;
    color: #004b73;
  }
  
  .notification.warning {
    background-color: #ffdb8c;
    color: #b87d00;
  }