.notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  margin-top: 13em;
  margin-right: 1em;
  color: #fff;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  font-size: 1.1rem;
}
  
  .notification.success {
    background-color: #03fc03;
  }
  
  .notification.error {
    background-color: red;
  }
  
  .notification.info {
    background-color: #03a5fc;
  }
  
  .notification.warning {
    background-color: #fcad03;
  }