<div class="login-container">
    <form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
        <h3>Login</h3>
        <div class="fields-container">
            <i [class]="((inputEmail?.touched && inputEmail?.errors?.['required']) || 
                (inputEmail?.touched && inputEmail?.errors?.['emailValidator']))
                ? 'input-error': 'field-icon'" 
            class="fa-solid fa-envelope field-icon"></i>
            <div class="field-container">
                <label for="email">Email</label>
                <input  
                    [class]="((inputEmail?.touched && inputEmail?.errors?.['required']) || 
                        (inputEmail?.touched && inputEmail?.errors?.['emailValidator']))
                        ? 'input-error': ''"             
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="johndoe@gmail.com" 
                    required
                    ngModel 
                    appEmail
                    #inputEmail="ngModel">
            </div>
        </div>
        @if(inputEmail?.touched){
            <div>
              @if(inputEmail?.errors?.['required']){
              <p class="validation-error">Email is required!</p>
              } 
              @if(inputEmail?.errors?.['emailValidator']){
              <p class="validation-error">Email is not valid!</p>
              }
            </div>
        }
        <div class="fields-container">
            <i
            [class]="((inputPassword?.touched && inputPassword?.errors?.['required']) || 
                    (inputPassword?.touched && inputPassword?.errors?.['minlength']))
                    ? 'input-error': 'field-icon'" 
            class="fa-solid fa-key field-icon"></i>
            <div class="field-container">
                <label for="password">Password</label>
                <input 
                    [class]="
                        ((inputPassword?.touched && inputPassword?.errors?.['required']) || 
                        (inputPassword?.touched && inputPassword?.errors?.['minlength']))
                        ? 'input-error': ''"
                    type="password" 
                    name="password" 
                    id="password" 
                    required
                    ngModel 
                    minlength={{passMinLength}}
                    #inputPassword="ngModel">
            </div>
        </div>
        @if(inputPassword?.touched){
            <div>
              @if(inputPassword?.errors?.['required']){
              <p class="validation-error">Password is required!</p>
              }
              @if(inputPassword?.errors?.['minlength']){
              <p class="validation-error">Password must be at least {{passMinLength}} characters!</p>
              }
            </div>
        }
        <button 
            [disabled]="form.invalid"
            [style]="{ backgroundColor: form.invalid ? 'grey' : '#3F72AF' }"
        >Log in</button>
    </form>
</div>

@if(hasNotification){
    <app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>
}