.home-container{
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.events-container{
    display: flex;
    flex-direction: column;
    gap: 3em;   
}

.event-container{
    background: #3F72AF;
    padding: 1.5em 3em;
    border-radius: 0.5em;
    width: 600px;
}

.event-container a{
    text-decoration: none;
}

.event-container h2{
    color: #F9F7F7;
    font-size: 1.8rem;
}

.event-container p{
    color: #DBE2EF;
    font-size: 1.2rem;
    margin-top: 1em;
}

.event-container .title span{
    color: #DBE2EF;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title p{
    margin: 0;    
}

.pages-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 5em;
}

.pages-container button{
    padding: 1em;
    cursor: pointer;
    background: #F9F7F7;
    color: #3F72AF;
    border: 1px solid #3F72AF;
    border-radius: 0.3em;
    font-size: 0.9rem;
}

.pages-container .currentPage{
    background: #3F72AF;
    color: #F9F7F7;
}

.pages-container button:hover{
    background: #3F72AF;
    color: #F9F7F7;
    font-size: 1rem;
}

.no-results{
    width: 600px;
    text-align: start;
}

.no-results p{
    font-size: 1.5rem;
}