<div class="myevents-container">
    @if (isLoading) {
        <app-loader />
    }@else {
        <div class="events-container">
            <h1>My Events</h1>
            @if(eventsPageModel.events.length > 0){
                @for (eventItem of eventsPageModel.events; track $index) {
                    <div class="event-info">
                        <div class="event-container">
                            <a [routerLink]="['/event', eventItem.id]">
                                <div class="title">
                                    <h2>{{eventItem.title | slice: 20}}</h2>
                                    <span>{{eventItem.date}}</span>
                                </div>
                                <p>Description: {{eventItem.description | slice: 30}}</p>
                            </a>
                        </div>
                        <div class="event-btns">
                            <a routerLink="/edit-event" class="yellow-btn" [routerLink]="eventItem.id.toString()"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button class="red-btn" (click)="toggleDeleteContainer(eventItem.title, eventItem.id)"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                }
                <div #deleteContainer class="delete-container">
                    <h4>Are you sure you want to delete {{currentDeleteTitle}}?</h4>
                    <div class="delete-btns">
                        <button class="green-btn" (click)="toggleDeleteContainer()">No</button>
                        <button class="red-btn" (click)="deleteEvent()">Yes</button>
                    </div>
                </div>
            }
            @else{
                <div class="no-results">
                    <p>You haven't posted any events yet!</p>
                </div> 
            }
        </div>
    }
    <div class="pages-container">
        @for (page of visiblePages; track $index) {
            <button [class.currentPage]="page === currentPage" [disabled]="page === '...'" (click)="changePage(page)">{{page}}</button>        
        }
    </div>
</div>
@if(hasNotification){
    <app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>
}